.row {
    border-radius: 2px;
}

.warning {
    background-color: yellow;
}

.alarm {
    background-color: rgb(254, 29, 29);
}

.event {
    background-color: rgb(155, 236, 155);
}

.button {
    padding-top: -15px;
}

.button:hover {
    background-color: rgb(30, 30, 30);
    color: white;
}